#First, Set up a Virtual Machine
1. Create a Virtual Machine on Microsoft Azure
2. Set up a VM names AHIServe
3. Create a name and password
4. Add MySQL inbound port 3306
5. Open Auto-shutdown of virtual machine

#Import All Pakages

In [ ]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
!pip install pymysql
!pip install cryptography

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 473 kB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 6.4 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)
Installing collected packages: cryptography
Successfully installed cryptography-36.0.1

#Load CSV Database

In [ ]:
H1N1 = pd.read_csv('https://raw.githubusercontent.com/JiayingXing/HHA-504-Final/main/H1N1_Flu_Vaccines.csv')

#Second, Access the Virtual Machine in Terminal
1. Type ssh
2. Type ssh Username@IP address
3. Enter the password
3. Type "sudo apt-get update"
4. Type "sudo apt install mysql-server mysql-client
5. Type "sudo mysql" Welcome to the MySQL monitor
6. STEP 1: CREATE USER ‘dba'@'%' IDENTIFIED BY ‘ahi2020’;
7. STEP 2: GRANT ALL PRIVILEGES ON *.* TO 'dba'@'%' WITH GRANT OPTION;
8. Back to the VM in terminal
9. Type "sudo nano/etc/mysql.conf.d/mysqld.cnf
10. Change bind-address to 0.0.0.0, Control + o to save
11. Type "/etc/init.d/mysql restart" to restart mysql

#Connect To Instance, Create MySQL User

In [ ]:
MYSQL_HOSTNAME = '20.120.0.96'
MYSQL_USER = 'dba'
MYSQL_PASSWORD = 'ahi2021'
MYSQL_DATABASE = 'e2e'
connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}:3306/{MYSQL_DATABASE}'
engine = create_engine(connection_string)

In [ ]:
TABLENAME = 'H1N1'

In [ ]:
print(engine.table_names())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['H1N1_Flu_Vaccines']

In [ ]:
H1N1.to_sql('H1N1_Flu_Vaccines', con=engine, if_exists='append')

#Create dump file contains a physical backup of the file
1. Type "sudo mysqldump e2e>e2e_dump.sql
2. Type "ls"
3. Type "nano e2e_dump.sql"

#Using the SCP command from your terminal, move that file to your own local computer
scp 20.120.0.96